<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Moj Blog Django</a></h1>
        </div>

        <div>
            <p>opublikowany: 16.09.2017, 01:27</p>
            <h2><a href="">ZAMACHY</a></h2>
            <p>Brytyjska premier Theresa May poinformowała w piątek wieczorem o podniesieniu poziomu zagrożenia terrorystycznego do najwyższego, "krytycznego". Wcześniej Państwo Islamskie przyznało się do przeprowadzenia porannego zamachu terrorystycznego w londyńskim metrze.

Czytaj więcej na http://fakty.interia.pl/swiat/news-theresa-may-do-kolejnego-ataku-moze-dojsc-w-kazdej-chwili.</p>
        </div>

        <div>
            <p>popublikowany: 16.09.2017, 01:27</p>
            <h2><a href="">BREXIT</a></h2>
            <p>1 września informowaliśmy: Brexit spowoduje odpływ pracowników z Wielkiej Brytanii

                Choć do realnego wyjścia Wielkiej Brytanii z UE wciąż daleko, nie brakuje analiz dotyczących wpływu brexitu na rynek pracy. Najnowsze badanie KPMG pokazuje niepokojący trend - prawie milion obywateli UE może opuścić Wyspy.</p>


       </div>
    </body>
</html>
